name: Coverage Test

on:
  workflow_dispatch:
  push:
    branches: 
      - "*.*.*"
  pull_request:
    branches: 
      - "*.*.*"

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-cov coveralls
      - name: Run tests with coverage
        run: |
          pytest --cov=src --cov-report=lcov:coverage.lcov
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
